<HTML>
    <head>
        <title>список мастерских</title>
        <link rel="icon", href="/static/Комфорт.ico" type="image/x-icon">
    </head>
<body>
    <h1>список мастерских</h1>
    <button onclick="window.location.assign('/')" style="color:#355CBD">назад</button>
    <div class="products">
       {% for workshop in data %}
        <div class="product_div" style="position:relative;margin:2%; border:2px solid black; background-color: #D2DFFF;">
            <p style="font-family:Candara; margin-left:5%">название: {{workshop.workshop_name}}</p>
            <p style="font-family:Candara; margin-left:5%">количество часов: {{workshop.make_time}}</p>
            <p style="font-family:Candara; margin-left:5%">колчество людей: {{workshop.people_count}}</p>
        </div>
       {%endfor%} 
    </div>
    
</body>

</HTML>